.about {
  width: 100%;
  background-color: $color-light;
  padding: 46px 15px;
  @include for-large-up {
    display: flex;
    justify-content: space-between;
    padding: 77px 130px 76px 130px;
  }
}

.article {
  @include for-large-up {
    width: 555px;
  }
  &:last-child {
    margin-top: 20px;
  }
  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
  }
  &__text {
    margin: 0;
    margin-top: 14px;
    font-size: 22px;
    line-height: 32px;
    @include for-large-up {
      margin-top: 6px;
    }
  }
}
