.audience {
  display: flex;
  flex-direction: column;
  padding-bottom: 110px;
  background: rgba(0, 161, 198, 0.07);

  &__button-item {
    margin-top: 12px;
    &:first-child {
      margin-top: 0;
    }
  }
  &__block-name {
    margin: 0;
    margin-top: 50px;
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    @include for-large-up {
      margin-top: 108px;
    }
  }
  &__button {
    margin: 0;
    margin-top: 30px;
    justify-content: center;
    @include for-large-up {
      margin-top: 34px;
    }
  }
  &__button-item {
    box-shadow: $shadow-color;
    @include for-large-up {
      margin: 0px;
      margin-left: 10px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  &__wrapper {
    margin: auto;
    text-align: center;
  }
  &__title {
    width: 290px;
    margin: 17px auto 0px auto;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.357143px;
    @include for-large-up {
      width: 555px;
      margin: 24px auto 0px auto;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.5px;
    }
  }
  &__subtitle {
    width: 290px;
    margin: 18px auto 0px auto;
    font-size: 24px;
    line-height: 34px;
    @include for-large-up {
      width: 555px;
      margin: 30px auto 0px auto;
    }
  }
}

.categories {
  margin-top: 40px;
  @include for-large-up {
    display: flex;
    margin-top: 111px;
  }
  &__user-image {
    margin-top: 22px;
  }
  &__title {
    margin: 0;
    margin-top: 22px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
  }
}

.user-card {
  margin: 0px auto;
  width: 290px;
  height: 300px;
  margin-top: 15px;
  cursor: pointer;
  background-color: $color-white;
  border-radius: 8px;
  box-shadow: $shadow-color;
  &:active {
    .categories__title {
      color: $text-color-white;
    }
    background: $color-dark-blue;
    box-shadow: $shadow-color;
  }
  &:first-child {
    margin-top: 0;
  }
  @include for-large-up {
    width: 262px;
    height: 300px;
    margin-left: 30px;
    margin-top: 0;
    &:first-child {
      margin-left: 0;
    }
  }
}
