.action-button {
  background-color: $text-color-blue;
  color: $text-color-white;
  width: 100%;

  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  @include for-large-up {
    width: 160px;
  }
  &_white {
    background-color: $color-white;
    color: $text-color-blue;
    width: 100%;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    margin-top: 12px;
    @include for-large-up {
      width: 158px;
      margin: 0;
      margin-left: 10px;
    }
  }
}
