.communication {
  padding: 50px 15px;
  margin: auto;
  @include for-large-up {
    padding: 0px;
    padding-bottom: 110px;
  }
  &__decoration {
    margin: 0;
    @include for-large-up {
      margin-top: 110px;
      margin-left: 193px;
    }
  }
  &__image {
    max-width: 100%;
    margin-top: 40px;

    @include for-large-up {
      margin: 0;
      width: 425px;
      height: 425px;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    @include for-large-up {
      width: 1140px;
      display: flex;
      flex-direction: row;
    }
  }
  &__image-caption {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: rgba(43, 41, 45, 0.6);
    margin: 0;
    margin-top: 17px;
    @include for-large-up {
      margin-top: 15px;
    }
  }
  &__row {
    display: flex;
    flex-direction: column;
    margin-top: 41px;
    @include for-large-up {
      flex-direction: row;
      margin-top: 41px;
    }
  }
}
.communication-content {
  margin-left: 0;

  @include for-large-up {
    margin-top: 123px;
  }
  &__name {
    margin: 0;
    font-size: 22px;
    line-height: 34px;
    font-weight: 700;
    color: #0189d1;
  }
  &__title {
    margin: 0;
    margin-top: 17px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
    @include for-large-up {
      width: 462px;
      margin-top: 24px;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.5px;
    }
  }
  &__description {
    margin: 0;
    margin-top: 18px;
    font-size: 24px;
    line-height: 34px;
    @include for-large-up {
      width: 462px;
      margin-top: 30px;
      margin-bottom: 39px;
    }
  }
  &__line {
    margin-top: 40px;
    height: 1px;
    width: 150px;
    background: #000000;
    opacity: 0.1;
    @include for-large-up {
      margin-top: 26px;
    }
  }
}

.row-item {
  margin: 0px auto;
  margin-top: 33px;
  &:first-child {
    margin-top: 0;
    @include for-large-up {
      margin: 0;
    }
  }
  @include for-large-up {
    width: 360px;
    margin-left: 30px;
    margin-top: 0;
  }
  &__description {
    font-size: 18px;
    line-height: 26px;
    margin-top: 0;
  }
  &__description_first-word {
    font-weight: 700;
  }
  &__link {
    color: #3040c4;
    font-weight: 700;
  }
}
