.customers {
  display: flex;
  flex-direction: column;
  @include for-large-up {
    width: 1140px;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 106px;
    padding-top: 30px;
  }
  &__row {
    display: flex;
    @include for-large-up {
      flex: 1;
      justify-content: space-around;
    }
  }
  &__item {
    height: 94px;
    width: 107px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $color-light-grey;
    border-right: 1px solid $color-light-grey;

    @include for-large-up {
      border: none;
    }
    &:last-child {
      border-right: none;
    }
  }
  &__logo {
    filter: brightness(0);
    max-width: 80%;
  }
}
