.features {
  display: flex;
  position: relative;
  padding-bottom: 110px;
  &__content {
    width: 1140px;
    display: flex;
    margin: auto;
  }
  &__column {
    width: 459px;
  }
  &__subtitle {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: $text-color-green;
  }
  &__title {
    margin-top: 24px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
  &__description {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 34px;
  }
  &__advantage-header {
    display: flex;
    margin-top: 42px;
    line-height: 42px;
  }
  &__advantage-title {
    margin: 0;
    margin-left: 15px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: $text-color-blue;
  }
  &__advantage-description {
    margin-top: 8px;
    margin-bottom: 0;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 26px;
    border-bottom: 3px solid $text-color-blue;
  }
  &__advantage-item {
    display: flex;
    margin-top: 21px;
    padding-bottom: 22px;
    border-bottom: 1px solid $border-color;
  }
  &__advantage-item-text {
    margin-left: 15px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
  }
  &__left-decoration {
    position: absolute;
    top: 258px;
    height: 166px;
  }
  &__banner {
    position: absolute;
    right: 0;
  }
}

.features {
  @include for-large-down {
    display: none;
  }
}
