.footer {
  padding: 40px 15px 23px 15px;
  @include for-large-up {
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }
  &__description {
    @include for-large-up {
      display: block;
      width: 360px;
      margin-top: 26px;
      line-height: 26px;
      font-size: 18px;
      color: $text-color-dark-opacity;
    }
    display: none;
  }
}
.footer-logo {
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
  @include for-large-up {
    flex-direction: row;
    text-align: left;
  }
  &__name {
    margin-top: 20px;
    line-height: 25px;
    @include for-large-up {
      margin: 0;
    }
  }
  &__description {
    font-size: 18px;
    line-height: 25px;
    color: $text-color-dark-opacity;
  }
}
.nav-links {
  @include for-large-up {
    width: 265px;
    padding: 0;
  }
  &__title {
    margin: 0;
    margin-top: 30px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: $color-dark;
  }
  &__list {
    padding: 0;
    margin: 0;
    margin-top: 18px;
    list-style-type: none;
    font-size: 18px;
    line-height: 30px;
    color: $text-color-dark-opacity;
  }
}
.footer__line {
  width: 100%;
  margin: 0;
  border-top: 1px solid #2b292b;
  opacity: 0.1;
}
.footer__line-desktop {
  display: none;
  @include for-large-up {
    display: block;
  }
}
.footer__line-mobile {
  margin-top: 40px;
  @include for-large-up {
    display: none;
  }
}
.about-company {
  display: flex;
  flex-direction: column;
  @include for-large-up {
    margin-top: 44px;
  }
}
.downloads {
  margin: auto;
  margin-top: 31px;
  @include for-large-up {
    margin: 0;
    margin-top: 25px;
  }
  &__item {
    @include for-large-up {
      margin-right: 10px;
    }
  }
}
.terms {
  margin-top: 30px;
  font-size: 14px;
  @include for-large-up {
    margin: 0;
    line-height: 50px;
  }
  &__items {
    margin-right: 22px;
    text-decoration: none;
    color: $text-color-dark-opacity;
  }
}
.social-links {
  margin-top: 31px;
  @include for-large-up {
    margin-left: auto;
  }
  &__item {
    margin-right: 20px;
  }
}
.footer-links {
  @include for-large-up {
    display: flex;
    align-items: center;
    width: 1140px;
    height: 50px;
    margin: 0px auto;
  }
}
.footer-navigation {
  @include for-large-up {
    display: flex;
    width: 1140px;
    height: 338px;
    margin: 0px auto;
  }
}
.additional-navigation {
  @include for-large-up {
    display: flex;
    margin-top: 60px;
    margin-left: auto;
  }
  &__column {
    @include for-large-up {
      margin-right: 29px;
    }
  }
}
