.top-section {
  @include for-large-up {
    background-color: #f3c6bd;
    padding-top: 41px;
  }
}
.header {
  @include for-large-up {
    padding-left: 15px;
    width: 1140px;
    height: 62px;
    margin: auto;
    display: flex;
  }
  &__action-button {
    display: none;
    @include for-large-up {
      align-items: center;
      display: block;
    }
  }
  &__logo-description {
    display: none;
  }
  display: flex;
  &__burger {
    border: none;
    padding: 0;
    width: 58px;
    background-color: #fff;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    margin-left: auto;
    @include for-large-up {
      display: none;
    }
  }
  &__action-button {
    display: none;
    @include for-large-up {
      display: block;
      margin: auto 0px;
    }
  }
}
.navigation {
  display: none;
  @include for-large-up {
    display: inline-block;
    margin-left: auto;
    margin-right: 75px;


    
  }
  &__item {
    @include for-large-up {
      color: #2b292d;
      text-decoration: none;
      font-size: 18px;
      margin-right: 50px;
      line-height: 60px;
      &:last-child {
        margin-right: 0;
      }
      &_selected {
        font-weight: 700;
      }
    }
  }
  &__arrow {
    @include for-large-up {
      display: inline-block;
      height: 5px;
      width: 8px;
      margin-left: 11px;
      background-image: url(img/icon/arrow.png);
    }
  }
}
.logo {
  display: flex;
  padding: 8px 0px 8px 15px;
  @include for-large-up {
    padding: 0;
  }
  &__name {
    margin-left: 13px;
    font-size: 20px;
    font-weight: 700;
    @include for-large-up {
      line-height: 25px;
      margin-left: 0;
    }
  }
  &__description {
    @include for-large-up {
      display: inline-block;
      font-size: 18px;
      line-height: 25px;
      color: #2b292d;
      opacity: 0.6;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__image {
    height: 48px;
    width: 48px;
    @include for-large-up {
      width: 60px;
      height: 60px;
      margin-right: 15px;
    }
  }
}
