.headline {
  background-color: #f3c6bd;
  padding-bottom: 35px;
  @include for-large-up {
    position: relative;
    width: 1140px;
    margin: auto;
    margin-top: 84px;
    display: flex;
    padding: 0;
    padding-bottom: 77px;
  }
  .action-button_white {
    margin-top: 15px;
    @include for-large-up {
      margin: 0;
      margin-left: 10px;
    }
  }
  &__content {
    padding: 0px 15px;
    @include for-large-up {
      padding: 0px;
      position: absolute;
      z-index: 1;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.3125px;
    margin: 0;

    @include for-large-up {
      width: 754px;
      height: 165px;
      font-size: 80px;
      line-height: 78px;
      letter-spacing: -0.5px;
      z-index: 1;
    }
  }
  &__description {
    margin-top: 24px;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 34px;
    @include for-large-up {
      margin-top: 34px;
      height: 102px;
      width: 456px;
      z-index: 1;
    }
  }
  &__banner {
    margin-top: 33px;
    width: 100%;
    @include for-large-up {
      margin: 0;
      position: relative;
      right: -108px;
      top: 8px;
      width: 796px;
      height: 448px;
      margin-left: auto;
    }
  }
  &__actions {
    margin-top: 30px;
    @include for-large-up {
      margin-top: 58px;
      display: flex;
    }
  }
  &__action-button {
    width: 100%;

    @include for-large-up {
      width: 160px;
      margin: 0;
    }
    &_white {
      margin-top: 15px;
      width: 100%;
      background-color: #fff;
      color: #3040c4;
      @include for-large-up {
        width: 158px;
        margin: 0;
        margin-left: 10px;
      }
    }
  }
}
