.hiring {
  padding-top: 50px;
  padding-bottom: 110px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  text-align: center;
  @include for-large-up {
    padding-top: 106px;
  }
  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.357143px;
    margin: 0px;
    margin-top: 106px;
    @include for-large-up {
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.5px;
      margin: 0px;
    }
  }
  &__subtitle {
    font-size: 24px;
    line-height: 34px;
    width: 290px;
    margin: 0px auto;
    margin-top: 18px;
    font-weight: 400;
    @include for-large-up {
      width: 555px;
      margin: 0px auto;
      margin-top: 20px;
    }
  }
  &__action-button {
    margin: 0px auto;
    align-items: center;
    width: 247px;
    margin-top: 28px;
  }
}

.job {
  margin-top: 110px;
  &__vacancy {
    display: flex;
    box-sizing: border-box;
    border: 1px solid rgba(43, 41, 45, 0.2);
    width: 100%;
    border-radius: 8px;
    padding: 25px;
    text-align: left;
    margin-bottom: 20px;
    cursor: pointer;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      .hiring__vacancy-city {
        color: $text-color-white;
      }
      background: $color-dark-blue;
      color: $text-color-white;
    }
    @include for-large-up {
      width: 750px;
    }
  }
  &__vacancy-name {
    margin-right: 20px;
    display: inline-block;
    width: 408px;
    font-weight: 700;
    font-size: 22px;
  }
  &__vacancy-city {
    opacity: 0.6;
    font-size: 18px;
    display: inline-block;
    width: 232px;
    margin-right: 19px;
  }
  &__arrow {
    display: inline-block;
    height: 7.5px;
    width: 12px;
    margin: auto 0px;
    background-image: url(
    https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
    background-repeat: no-repeat;
    transform: rotate(-90deg);
  }
}
