.hiring {
  
    padding-top: 50px;
    padding-bottom: 110px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    text-align: center;
    display: none;
    &__title {
      font-weight: 700;
      font-size: 40px;
      line-height: 40px;
      text-align: center;
      letter-spacing: -0.357143px;
      margin: 0px;
      margin-top: 106px;
    }
    &__subtitle {
      font-size: 24px;
      line-height: 34px;
      width: 290px;
      margin: 0px auto;
      margin-top: 18px;
      font-weight: 400;
    }
    &__button {
      margin: 0px auto;
      align-items: center;
      width: 247px;
      margin-top: 28px;
    }
  }
  
  .job {
    margin-top: 110px;
  
    &__vacancy {
      box-sizing: border-box;
      border: 1px solid rgba(43, 41, 45, 0.2);
      width: 750px;
      border-radius: 8px;
      padding: 25px;
      text-align: left;
      margin-bottom: 20px;
      cursor: pointer;
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        background: #3141c5;
        color: #fff;
      }
    }
    &__vacancy-name {
      margin-right: 20px;
      display: inline-block;
      width: 408px;
      font-weight: 700;
      font-size: 22px;
    }
    &__vacancy-city {
      opacity: 0.6;
      font-size: 18px;
  
      display: inline-block;
      width: 232px;
      margin-right: 19px;
    }
    &__arrow {
      margin: 0px;
  
      transform: rotate(-90deg);
    }
  }
  
  
  
  @media screen and (min-width:400px) {
    .hiring {
      padding-top: 106px;
      padding-bottom: 110px;
      display: flex;
      flex-direction: column;
      margin: 0px auto;
      text-align: center;
      &__title {
        font-weight: 700;
        font-size: 56px;
        line-height: 56px;
        text-align: center;
        letter-spacing: -0.5px;
        margin: 0px;
        margin-top: 106px;
      }
      &__subtitle {
        font-size: 24px;
        line-height: 34px;
        width: 555px;
        margin: 0px auto;
        margin-top: 20px;
        font-weight: 400;
      }
      &__button {
        margin: 0px auto;
        align-items: center;
        width: 247px;
        margin-top: 28px;
      }
    }
    
    .job {
      margin-top: 110px;
    
      &__vacancy {
        box-sizing: border-box;
        border: 1px solid rgba(43, 41, 45, 0.2);
        width: 750px;
        border-radius: 8px;
        padding: 25px;
        text-align: left;
        margin-bottom: 20px;
        cursor: pointer;
        &:last-child {
          margin-bottom: 0;
        }
        &:hover {
          background: #3141c5;
          color: #fff;
        }
      }
      &__vacancy-name {
        margin-right: 20px;
        display: inline-block;
        width: 408px;
        font-weight: 700;
        font-size: 22px;
      }
      &__vacancy-city {
        opacity: 0.6;
        font-size: 18px;
    
        display: inline-block;
        width: 232px;
        margin-right: 19px;
      }
      &__arrow {
        margin: 0px;
    
        transform: rotate(-90deg);
      }
    }
    
  }