.inbox {
  display: flex;
  padding-bottom: 48px;
  background: rgba(252, 240, 227, 0.4);
  @include for-large-up {
    padding-bottom: 101px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    @include for-large-up {
      flex-direction: row;
      padding: 0;
    }
  }
  &__image {
   max-width:  100%;
    @include for-large-up {
      margin-top: 142px;
      width: 425px;
      height: 510px;
    }
  }
  &__image-caption{
    display: none;
    margin: 0;
    margin-top: 15px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: $text-color-dark-opacity;
    @include for-large-up {
      display: flex;
      flex-direction: column;
    }
  }
}
.inbox-content {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  @include for-large-up {
    width: 461px;
    margin-top: 115px;
    margin-left: 190px;
  }
  &__name {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: $text-color-orange;
  }
  &__title {
    margin: 0;
    margin-top: 17px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
    @include for-large-up {
      margin-top: 24px;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.5px;
    }
  }
  &__description {
    margin: 0;
    margin-top: 18px;
    font-size: 24px;
    line-height: 34px;
    @include for-large-up {
      margin-top: 30px;
    }
  }
}
.quote-block {
  margin-top: 30px;
  padding: 30px 20px 24px 20px;
  background-color: $color-white;
  border-bottom: 4px solid $color-blue;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  @include for-large-up {
    width: 519px;
    height: 213px;
    margin-top: 44px;
    padding: 30px;
    position: relative;
    left: -30px;
  }
  &__quote {
    margin: 0;
    font-size: 20px;
    line-height: 28px;
    @include for-large-up {
      width: 459px;
      height: 85px;
    }
  }
  &__quote_bold {
    font-weight: 700;
  }
  &__author {
    display: flex;
    margin-top: 26px;
  }
  &__author-avatar {
    height: 40px;
    width: 40px;
    margin-right: 11px;
  }
  &__author-name {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }
  &__author-position {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    opacity: 0.5;
  }
}
