.order {
  padding: 50px 15px;
  background: #f4f5f7;
  @include for-large-up {
    padding: 73px 0 72px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  &__details {
    @include for-large-up {
      max-width: 555px;
    }
  }
  &__illustration {
    max-width: 200px;

    @include for-large-up {
      max-width: 269;
      margin-right: 121px;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.25px;
    margin: 0;
    margin-top: 40px;
  }
  &__text {
    padding: 0;
    margin: 0;
    font-size: 22px;
    line-height: 32px;
    margin-top: 18px;
  }
  &__form {
    @include for-large-up {
      display: flex;
      margin-top: 26px;
    }
  }
  &__email {
    margin-top: 40px;
    background-color: #f4f5f7;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 2px;
    height: 48px;
    width: 100%;
    text-align: center;
    line-height: 13;
    font-size: 18;
    &::placeholder {
      color: #2b292d;
    }
    @include for-large-up {
      margin-top: 0;
      max-width: 385px;
      margin-right: 10px;
    }
  }
  &__button {
    margin-top: 12px;

    @include for-large-down {
      width: 100%;
    }
    @include for-large-up {
      margin-top: 0;
      flex-shrink: 0;
    }
  }
  &__terms {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
    margin-top: 10px;
  }
  &__terms-link {
    color: #3142c6;
  }
}
