.tips {
  margin-top: 8px;
}
.tip {
  padding: 40px 15px 0px 15px;
  border-bottom: 1px solid $color-light-grey;

  &__subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: $text-color-green;
  }
  &__title {
    margin-top: 17px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
  }
  &__description {
    font-size: 24px;
    line-height: 34px;
    margin: 0;
    margin-top: 13px;
  }
  &__decoration {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
    margin-bottom: 40px;
  }
  &__image-caption {
    max-width: 100%;
    margin-top: 30px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: $text-color-dark-opacity;
  }
}
.tips {
  @include for-large-up {
    display: none;
  }
}
