$color-yellow-light: #f3c6bd;
$color-white-light: #F2F2F2;
$color-white: #fff;
$color-light-grey: #E3E3E3;
$color-blue: #0189d1;
$color-light-blue: #00a1c612;
$color-dark: #2B292D;
$color-grey: #D5D4D5;
$color-dark-blue: #3141C5;
$color-light: #F4F5F7;

$text-color-dark-opacity: rgba(43, 41, 45, 0.6);
$text-color-green: #009b4d;
$text-color-light-grey: #2b292d99;
$text-color-orange: #F1592B;
$text-color-blue: #3040C4;
$text-color-black: #000;
$text-color-white: #fff;
$text-color-dark: $color-dark;

$border-color:#2b292d26;